Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/git
    IdentitiesOnly yes

Host *.k8s.local *.node.local
    User user
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
    PreferredAuthentications publickey
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR
    ServerAliveInterval 30
    ServerAliveCountMax 3
    ConnectTimeout 5
    ControlMaster auto
    ControlPersist 5m
    ControlPath ~/.ssh/cm-%r@%h:%p

Host master1.k8s.local
    HostName 192.168.1.101

Host master2.k8s.local
    HostName 192.168.1.102

Host master3.k8s.local
    HostName 192.168.1.103

Host worker1.k8s.local
    HostName 192.168.1.201

Host worker2.k8s.local
    HostName 192.168.1.202

Host db1.node.local
    HostName 192.168.1.110

Host db2.node.local
    HostName 192.168.1.111

Host db3.node.local
    HostName 192.168.1.112

Host stor1.node.local
    HostName 192.168.1.151

Host stor2.node.local
    HostName 192.168.1.152

Host stor3.node.local
    HostName 192.168.1.153

Host aux1.node.local
    HostName 192.168.1.190
