---
# Platform: namespaces + optional Argo CD. Runs on control host (kubectl, KUBECONFIG, helm).
# Tags: namespaces, argocd. Inventory must define group "controlhost".

- hosts: controlhost
  gather_facts: true
  become: false
  environment:
    PATH: "{{ ansible_env.PATH | default('/usr/local/bin:/usr/bin:/bin') }}"
  vars:
    platform_install_argocd: "{{ platform_install_argocd | default(is_ArgoCD_included | default(false)) | bool }}"
  roles:
    - namespaces
    - argocd
  tags: [namespaces, argocd]
